# Ignore virtual environment
venv/
.DS_Store

# Ignore models files as they are too large
models/huggingface/bert-large-uncased-whole-word-masking_mlm/*
models/huggingface/bert-large-uncased-whole-word-masking-finetuned-squad_qa/*
models/huggingface/gpt2/*
models/huggingface/gpt2-xl/*
models/huggingface/t5-small/*
models/huggingface/t5-3b/*